<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.baktiar.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.example.permission.C2D_MESSAGE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- <permission android:protectionLevel="signature" -->
    <!-- android:name="com.example.permission.C2D_MESSAGE" /> -->
    <application
        android:name=".Control.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Control.ProduksiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.LaporanPenjualanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.LaporanOmzetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Control.MainMenuActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Control.LaporanOmzetPieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.PieChartDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.Produksi_Mesin_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.ReturActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.GrafikBarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.GrafikLineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.RegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Control.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <receiver
            android:name=".Control.TimerReceiverSyncInterval"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".Control.NotificationServiceSyncInterval" />
        <service android:name=".Control.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Control.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Control.TestingTopic">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Control.LaporanHarianActivity"
            android:parentActivityName=".Control.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Control.PerbandinganHarianActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".Control.CreatePinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.LoginByPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".Control.FingerPrintActivity" />
        <activity android:name=".Control.PemakaianBarangActivity" />
        <activity
            android:name=".Control.PerbandinganPemakianBahanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Control.ListViewBarChartActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".Control.RankingChartActivity">

        </activity>
        <activity android:name=".Control.LaporanRankingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme">

        </activity>
    </application>

</manifest>